assemblyai==0.34.0
deepgram_sdk==3.7.3
elevenlabs==1.9.0
mistralai==1.1.0
openai==1.51.2
python-dotenv==1.0.1
scipy==1.9.1
sounddevice==0.5.0
soundfile==0.12.1
streamlit==1.36.0
streamlit_mic_recorder==0.0.8
torch==2.3.0+cu118
transformers==4.44.0.dev0
TTS==0.22.0
~treamlit==1.33.0
